
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Page</h1>

<a asp-controller="Admin" asp-action="CreateStaffAccount" class="btn btn-primary">Create Staff Account</a>

