@{
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Patient Portal System</h1>
    <img src="@Url.Content("~/Images/Doctors.jpg")" alt="Some Doctors" />
</div>
